.rank {
    /*counter-reset: rank;*/
    /*list-style-type: cjk-decimal;*/
    list-style: none;
}

.article-item::before {
    content: '✱';
    position: absolute;
    font-size: small;
    margin-right: 3px;
}
/*@counter-style nbaRank {*/
/*    system: extends -moz-cjk-heavenly-stem;*/
/*    !*additive-symbols: 探花 3, 榜眼 2, 状元 1;*!*/
/*    range: 0 0;*/
/*    fallback: cjk-decimal;*/
/*}*/
/*.prefix {*/
/*    display: contents;*/
/*}*/
/*.prefix::before {*/
/*    counter-increment: rank;*/
/*    content: '['  '九牛'  counter(rank, nbaRank) '毛' ']';*/
/*    background-color: #333;*/
/*    color: #fff;*/
/*    padding:0 3px;*/
/*    margin-right: 10px;*/
/*    border-radius: 3px;*/
/*    text-align: right;*/
/*}*/


.scrollbar-hidden::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}

/* 兼容性处理 */
.scrollbar-hidden {
    /*overflow: auto;*/
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.typing-effect {
    overflow: hidden;
    white-space: nowrap;
    animation: Typing 2s steps(10);
}

@keyframes Typing {
    from {
        width: 0;
    }
    to {
        width: 10em;
    }
}

@keyframes TypingLoading {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.loading-wait-effect {
    animation: TypingLoading 1.2s infinite;
}
